fastapi
uvicorn
pydantic
requests
python-dotenv
numpy
opencv-python
Pillow
torch
torchaudio
torchvision
transformers
scipy
pandas
matplotlib
scikit-learn
Flask
Flask-CORS
mysql-connector-python
SQLAlchemy
Werkzeug
gunicorn
spotipy
